@model TestProject02.Models.Animal
@{
    ViewData["Title"] = "EditAnimal";
}
<h1>@ViewData["Title"]</h1>

<style>

</style>

<div class="edit-body">
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
            <input value=@ViewBag.animal.Name type="text" class="form-control" asp-for="Name" required />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Species"></label>
        <select required asp-for="Species">
                <option value="@ViewBag.animal.Species" selected> @ViewBag.animal.Species </option>
            <option value="Kutya"> Kutya </option>
            <option value="Macska"> Macska</option>
            <option value="Egyéb"> Egyéb</option>
            <option value="Mind"> Mind</option>
        </select>
        <span class="text-danger" asp-validation-for="Species"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea rows="4" cols="35" maxlength="219" type="text" class="form-control" asp-for="Description"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input value=@ViewBag.animal.Age type="number" class="form-control" asp-for="Age" />
        <span class="text-danger" asp-validation-for="Age"></span>
    </div>
    <div class="form-group">
        <label asp-for="Color"></label>
        <input value=@ViewBag.animal.Color type="text" class="form-control" asp-for="Color" />
        <span class="text-danger" asp-validation-for="Color"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <input value=@ViewBag.animal.Type type="text" class="form-control" asp-for="Type" />
        <span class="text-danger" asp-validation-for="Type"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input type="file" name="image" value=@ViewBag.animal.Image class =" form-control" asp-for="Image" />
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>
    <div class="form-group">
        <label asp-for="BgImage"></label>
        <input type="file" name="bgImage" value=@ViewBag.animal.BgImage class="form-control" asp-for="BgImage" />
        <span class="text-danger" asp-validation-for="BgImage"></span>
    </div>

    <input id="submit-animal" type="submit" value="Submit" class="btn btn-primary" />
    <span style="color:green">@Html.Raw(ViewBag.Message)</span>
</form>

<div class="animal-card">
        <div class="card-description-container" style="background-image: url('@ViewBag.animal.BgImage');">
        <div class="card-description">
        <h2>@ViewBag.animal.Name (@ViewBag.animal.Age)</h2>
        <h4>@ViewBag.animal.Species - @ViewBag.animal.Type</h4>
        <h4>@ViewBag.animal.Color</h4>
        <p>@ViewBag.animal.Description</p>
        </div>
        </div>
        <img src=@ViewBag.animal.Image class="card-image">
</div>

</div>