@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestProject02</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" integrity="sha512-kDmbIQZ10fxeKP5NSt3+tz77HO42IJiS+YPIirOIKTdokl4LtuXYo3NNvq9mTAF+rzdV1plp0sm9E6nvtVpnFQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />    

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    @RenderSection("Styles", false)

</head>
<body>
    <header>
        <i class="fi-align-justify" id="index_menu"></i>

        @if (@Context.Session.GetString("Name") == null)
        {
            <a id="login" class="control-button" asp-controller="Account" asp-action="Login">Bejelentkezés</a>
            <a id="register" class="control-button" asp-controller="Account" asp-action="Register">Regisztráció</a>
        }
        else
        {
            <a id="logout" class="control-button" asp-controller="Account" asp-action="LogOut">Kilépés: @Context.Session.GetString("Name")</a>
        }
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#"><i class="fi-home"></i> Adományok </a></li>
            <li><a href="#"><i class="fi-target"></i> Örökbefogadás </a></li>
            <li><a href="#"><i class="fi-at-sign"></i> Kapcsolat </a></li>
        </ul>
    </nav>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <a id="themeSwitch" class="control-button">
        Activate Dark Theme
    </a>

    <footer>
        <ul>
            <li>
                <a href="#"> <i class="fa fa-facebook"> </i> </a>
            </li>
            <li>
                <a href="#"> <i class="fa fa-twitter"> </i> </a>
            </li>
            <li>
                <a href="#"> <i class="fa fa-instagram"> </i> </a>
            </li>
            <li>
                <a href="#"> <i class="fa fa-linkedin"> </i> </a>
            </li>
        </ul>
    </footer>

    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @if (ViewBag.message != null)
    {
        <p id="message">@ViewBag.Message</p>
        <script type="text/javascript">
            setTimeout(() => {
            const box = document.getElementById('message');

            box.style.display = 'none';

            // box.style.visibility = 'hidden';
        }, 4000);
    </script>
    }
</body>
</html>
